@model ProductDetailViewModel

@* Header *@
<partial name="/Views/Partials/HeaderPartial/_Header.cshtml" />

<section class="productDetails">
    <div class="container">
        <div class="productDetailTopsection">
            <a href="javascript:history.back()"><i class="fa-solid fa-chevron-left"></i></a>
        </div>
        <div class="productImage">
@*             <img src="data:image/jpeg;base64,@Model.ProductImageBase64" /> *@
            <img src="/images/productImage.svg" alt="Image of product">
            <div class="productImageDots">
                <div class="productImageDot"></div>
                <div class="productImageDot"></div>
                <div class="productImageDot"></div>
            </div>

        </div>

        <div class="productInformation">
            <div class="productInformationTop">
                <h3 class="productTitle">@Model.ProductTitle</h3>
                <a id="hearts" class="hearts">
                    <i id="heartFull" class="productAddToFavorite heartFull fa-solid fa-heart"></i>
                    <i id="heartEmpty" class="productAddToFavorite heartEmpty fa-light fa-heart"></i>
                </a>
            </div>
            <div class="productReviewStars">
                @if(Model.AverageRating != null)
                {
                    
                    double? averageRating = Model.AverageRating;

                    if(averageRating < 0)
                    {
                        averageRating = 0;
                    }
                    else if(averageRating > 5)
                    {
                        averageRating = 5;
                    }

                    int fullstars = (int)averageRating;
                    bool hasHalfStar = (averageRating - fullstars) >= 0.5;



                    @for(int i = 0; i < 5; i++)
                    {
                        if (signInManager.IsSignedIn(User))
                        {
                            <a asp-controller="ProductReviews" asp-action="LeaveAReview" asp-route-ArticleNumber="@Model.ArticleNumber">
                                @if (i < fullstars)
                                {
                                    <i class="star fa-sharp fa-solid fa-star"></i>
                                }
                                else if (i == fullstars && hasHalfStar)
                                {
                                    <i class="star fa-regular fa-star-sharp-half-stroke"></i>
                                }
                                else
                                {
                                    <i class="star fa-sharp fa-light fa-star"></i>
                                }
                            </a>
                        }
                        else
                        {
                            <a asp-controller="SignIn" asp-action="Index" asp-route-ArticleNumber="@Model.ArticleNumber">
                                @if (i < fullstars)
                                {
                                    <i class="star fa-sharp fa-solid fa-star"></i>
                                }
                                else if (i == fullstars && hasHalfStar)
                                {
                                    <i class="star fa-regular fa-star-sharp-half-stroke"></i>
                                }
                                else
                                {
                                    <i class="star fa-sharp fa-light fa-star"></i>
                                }
                            </a>
                        }
                    }
                }
                else
                {
                    @for(int i = 0; i < 5; i++)
                    {
                        if(signInManager.IsSignedIn(User))
                        {
                            <a asp-controller="ProductReviews" asp-action="LeaveAReview" asp-route-ArticleNumber="@Model.ArticleNumber"><i class="star fa-sharp fa-light fa-star"></i></a>
                        }
                        else
                        {
                            <a asp-controller="SignIn" asp-action="Index" asp-route-ArticleNumber="@Model.ArticleNumber"><i class="star fa-sharp fa-light fa-star"></i></a>
                        }
                    }
                }
                @if(Model.ProductReviews != null)
                {
                    <span>(@Model.ProductReviews!.Count())</span>
                }
                else
                {
                    <span>(0)</span>
                }

            </div>
            <div class="productPrice">
                @if (Model.ProductPriceOrOffer == true)
                {
                    <div class="productOffer">
                        <p class="productCurrentPrice crossOver">$@Model.ProductPrice</p>
                        <p class="productOfferPrice">$@Model.ProductOfferPrice</p>
                    </div>
                    
                    
                }
                else
                {
                    <p class="productCurrentPrice">$@Model.ProductPrice</p>
                }
                

                <div class="productQuantity">
                    <button id="decrement" class="productSubtract"><i class="fa-regular fa-minus"></i></button>
                    <span id="quantity">1</span>
                    <button id="increment" class="productAdd"><i class="fa-regular fa-plus"></i></button>
                </div>
            </div>
            <div class="productSize">
                <h5>Size</h5>
                <div class="productSizeSelection">
                    @foreach (var size in Model.ProductSizes!)
                    {
                        <div class="productSizeOption">
                            <input type="radio" name="size" id="size@(size.SizeId)">
                            <label for="size@(size.SizeId)">@size.SizeName</label>
                        </div>
                    }

                </div>
            </div>
            <div class="productColors">
                <h5>Color</h5>
                <div class="colorSelection">
                    @foreach (var color in Model.ProductColors!)
                    {
                        <div class="colorOption color@(color.ColorName)">
                            <input type="radio" name="color" id="color@(color.ColorId)">
                            <label for="color@(color.ColorId)"></label>
                        </div>
                    }

                </div>
            </div>
            <div class="productDescription">
                <h5>Description</h5>
                <p>@Model.ProductDescription</p>
            </div>
            <div class="buttonContainer">
                <form asp-action="AddProduct" asp-controller="ShoppingCart" method="post">
                    <input type="text" name="ArticleNumber" value="@Model.ArticleNumber" hidden/>
                    <button type="submit" class="button335W">+ ADD TO CART</button>
                </form>>
            </div>
        </div>
        <div class="productReviews">

            @if(Model.ProductReviews != null)
            {
                <h3>Reviews (@Model.ProductReviews!.Count())</h3>
            }
            else
            {
                <h3>Reviews (0)</h3>
            }
            
            @if(Model.ProductReviews != null)
            {
                <a class="productViewAllReviews" asp-controller="ProductReviews" asp-action="ProductReviews" asp-route-ArticleNumber="@Model.ArticleNumber">view all <i class="fa-solid fa-chevron-right"></i></a>
            }
            @if(Model.ProductReviews != null)
            {
                @foreach (var review in Model.ProductReviews!)
                {
                    <partial name="/Views/Partials/_productReviewCard.cshtml" model="@review" />
                }
            }
            
        </div>
    </div>
</section>


@* Footer *@
<partial name="/Views/Partials/FooterPartial/_footerPartial.cshtml" />

<script>

    //quantity
    const incrementQuantity = document.querySelector('#increment');
    const decrementQuantity = document.querySelector('#decrement');
    const quantity = document.querySelector('#quantity')

    incrementQuantity.addEventListener('click', () => {
        quantity.innerHTML = parseInt(quantity.innerHTML) + 1
    })

    decrementQuantity.addEventListener('click', () => {
        if(quantity.innerHTML > 1) {
            quantity.innerHTML = parseInt(quantity.innerHTML) - 1
        }
    })

    //add to favorite
    const heartFull = document.querySelector('#heartFull');
    const heartEmpty = document.querySelector('#heartEmpty');
    const hearts = document.querySelector('#hearts');
    let isFavorite = false;

    hearts.addEventListener('click', () => {
        if (isFavorite == false) {
            isFavorite = true;
            heartFull.style.opacity = '100%';
        }
        else if (isFavorite == true) {
            isFavorite = false;
            heartEmpty.style.opacity = '100%';
            heartFull.style.opacity = '0%';
        }
    });
</script>