@model CategoryViewModel

<section class="categoryGrid">
    <div class="gridContainer">
        <div class="row">
            @foreach (var category in Model.Categories.Take(2))
            {
                <div class="col-4">
                    <a asp-controller="Product" asp-action="Index" asp-route-category="@category" class="categoryLink">
                        <div class="categoryTitle">
                            <h4 class="categoryTitleText">@category</h4>
                        </div>
                    </a>
                </div>
            }
        </div>

        <div class="row">
            @foreach (var category in Model.Categories.Skip(2).Take(1))
            {
                <div class="col-8">
                    <a asp-controller="Product" asp-action="Index" asp-route-category="@category" class="categoryLink">
                        <div class="categoryTitle">
                            <h4 class="categoryTitleText">@category</h4>
                        </div>
                    </a>
                </div>
            }
        </div>

        <div class="row">
            @foreach (var category in Model.Categories.Skip(3).Take(2))
            {
                <div class="col-4">
                    <a asp-controller="Product" asp-action="Index" asp-route-category="@category" class="categoryLink">
                        <div class="categoryTitle">
                            <h4 class="categoryTitleText">@category</h4>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
