@model List<BackofficeProductViewModel>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="data:image/jpeg;base64,@product.ProductImageBase64" alt="Product Image">

                    <div class="card-body">
                        <h5 class="card-title">@product.ProductTitle</h5>
                        <p class="card-text">@product.ProductDescription</p>
                        <p class="card-text">Price: @product.ProductPrice</p>
                     @*    <p class="card-text">Offer Price: @product.ProductOfferPrice</p> *@
                    @*     <p class="card-text">Category: @product.Categories.ToString()</p> *@
                        <p class="card-text">ProductPriceOrOffer Bool: @product.ProductPriceOrOffer</p>
                        <hr >

                        @if (product.ProductOfferPrice != null)
                        {
                            <p>Test if price has offer. If not empty, it will be true.</p>
                            product.ProductPriceOrOffer = true;
                            <p class="card-text">ProductPriceOrOffer Bool2: @product.ProductPriceOrOffer</p>
                            <p class="card-text">Offer Price: @product.ProductOfferPrice</p>
                            <hr />
                        }

                        <p>Final ProductOfferPrice bool value</p>
                        <p class="card-text">ProductPriceOrOffer Bool3: @product.ProductPriceOrOffer</p>
        

                        <form asp-controller="Product" asp-action="DeleteProduct" method="post">
                            <input type="hidden" name="productId" value="@product.ArticleNumber" />
                            <button type="submit" class="btn btn-danger">Remove from Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>   