@model ShoppingCartViewModel;
@inject ShoppingCartService _shoppingCartService;

@{
    var cart = _shoppingCartService.GetCartAsync();
    var orderPrice = _shoppingCartService.OrderPrice();
    var orderDiscount = _shoppingCartService.OrderDiscount();
    var totalOrderPrice = _shoppingCartService.TotalOrderPrice();
}


<section class="shoppingCart">
    <div class="container">
        <div class="navigateBack">
            <a href=""><i class="fa-solid fa-less-than"></i></a>
            <p class="test">Order</p>
            <i class="fa-light fa-bag-shopping"></i>
        </div>
        @{
        foreach (var c in await cart)
            {
                <div class="productItem">
                    <div class="productImage">
                        <img class="image" src="/images/ProductImage.svg" alt="">
                        <img class="sale" src="/images/Sale.svg" alt="">
                    </div>
                    <div class="productInfo">
                        <p class="productTitle">@c.ProductTitle</p>
                        <div class="price">
                            <p class="normalPrice">@c.ProductPrice</p>
                            <p class="discountPrice">@c.ProductOfferPrice</p>
                        </div>
                    @foreach (var x in c.ProductEntries)
                    {
                        <p class="size">Size: @x.Color.ColorName</p>
                    }
                    @foreach (var x in c.ProductEntries)
                    {
                        <p class="color">Color: @x.Size.SizeName</p>
                    }
                    </div>
                    <div class="productAmount">
                        <button class="increment"><i class="fa-solid fa-plus"></i></button>
                        <p class="amount">1</p>
                        <button class="decrement"><i class="fa-solid fa-minus"></i></button>
                    </div>
                </div>
            }
        }
        <div class="promocode">
            <p>Promocode applied</p><i class="fa-solid fa-check"></i>
        </div>
        <div class="receipt">
            <div class="subtotal">
                <p>Subtotal</p>
                <p class="totalAmount">@orderPrice</p>
            </div>
            <div class="discount">
                <p>Discount</p>
                <p class="totalDiscount">@orderDiscount</p>
            </div>
            <div class="delivery">
                <p>Delivery</p>
                @if (await totalOrderPrice <= 50)
                {
                    <p class="shipmentCost">$5</p>
                }
                else
                {
                    <p class="shipmentCost">Free</p>
                }
            </div>
            <div class="dividingBorder"></div>
            <div class="totalOrderCost">
                <p>Total</p>
                <p class="totalCost">@totalOrderPrice</p>
            </div>
        </div>
        <button class="button335W">PROCEED TO CHECKOUT</button>
    </div>
</section>